<div class ="row">
    <nav class="top-bar column" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="/">
                        <i class="fi-crown"></i> 
                    </a>
                </h1>
            </li>
        </ul>
    </nav>
</div>